/*header*/
.portfolio-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /*background-color: #FFE466;*/
  /*background-color: rgba(15,150,250,1);*/
  background-color: #FFE477;
  width: 100%;
  padding: 25px;
  margin: auto;
}


.portfolio-header-description {
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}




.portfolio-header-menu {
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}


/*nav*/
.hover-underline-menu {
  width: 100%;
  margin: auto;
}

.hover-underline-menu .menu {
  /*background-color: #FFE466;*/
  /*background-color: rgba(15,150,250,1);*/
  background-color: #111;
}

.hover-underline-menu .menu a {
  color: #ffffff;
  padding: 1.2rem 2.5rem;
  font-weight: 300;
  text-align: center;
}


.hover-underline-menu .menu .underline-from-center {
  position: relative;
  width: 9.5rem;
}



.hover-underline-menu .menu .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.25rem);
  border-bottom: 0.25rem solid #ffffff;
  left: 50%;
  right: 50%;
  transition: all 0.25s ease;
}


.hover-underline-menu .menu .underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.25s ease;
}

.hover-underline-menu .menu #activenav .underline-from-center::after {
  left: 8%;
  right: 8%;
}

/*Section headings*/
.section{
  margin-top: 10px;
  width: 100%;
  height: 3rem;
  text-align: left;
  padding: 20px 0 40px;
}


.section-title{
  font-size: 1.2rem;
  font-weight: 300;
  background-color: #f7fbff;
  text-align: center;
  border: 1px solid #aaa;
  margin: 0px 0 0px 30px;
  padding: 8px 30px;
  display: inline-block;
  position: relative;
}


.section:after {
  content: "";
  display: block;
  margin-top: -1.5rem;
  border-bottom: 1px solid #aaa;
}

/*back button*/
.backbutton{
  margin-top: 5px;
  width: 90%;
  height: 1rem;
  text-align: left;
  padding: 10px 0 10px 0;
}

.backbutton:after {
  content: "";
  display: block;
  margin-top: 1rem;
  border-bottom: 1px solid #ddd;
}

.backbuttontext{
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  margin: auto;
  padding: 0px 20px;
}

/*project title*/
.projecttitle{
  margin-top: 40px;
}

/*project image*/
.projectimage{
  margin: 40px auto 0px auto;
  width: 90%;
}

/*project text*/
.projecttext{
  margin: 30px auto;
  width: 90%;
}
